.wrapper {
    background-image: linear-gradient(0, var(--primary), #fd5f32);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__icon {
    color: var(--white);
    width: 50px;
    height: 50px;
    &:hover {
        cursor: pointer;
    }
}

.header__search-container {
    display: flex;
    padding: 4px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header__search-input {
    width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 1.6rem;
    border-radius: 2px;
}

.header__search-wrapper-icon {
    border-radius: 2px;
    width: 55px;
    height: 30px;
    right: 8px;
    background-color: var(--primary);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        cursor: pointer;
        background-color: rgba($color: #fd5f32, $alpha: 0.9);
    }
}

.header__search-icon {
    width: 14px;
    height: 14px;
    color: var(--white);
}

.header__checkout-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover {
        cursor: pointer;
    }
}

.header__checkout-icon {
    color: var(--white);
    width: 30px;
    height: 30px;
}

.header__checkout-count {
    top: -6px;
    right: -6px;
    width: 20px;
    height: 20px;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 50%;
    border: 2px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black);
    background-color: var(--white);
    position: absolute;
}
