.wrapper {
    background-color: var(--white);
    margin-top: 20px;
}

.footer {
    padding: 20px 0;
}

.footer__link-wrapper {
    margin-bottom: 20px;
}

.footer__link-title {
    font-size: 2rem;
    font-weight: 500;
}

.footer__link-list {
    list-style: none;
    padding: 0;
}

.footer__link {
    text-decoration: none;
    color: var(--black);
}

.footer__link-item {
    color: #7e7b7b;
    font-size: 1.2rem;
    margin-bottom: 5px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    border-top: 1px solid rgba($color: #ccc, $alpha: 0.5);
}

.contact__icon-wrapper {
    margin: 10px 0;
}

.contact__icon {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    color: var(--black);
    &:hover {
        color: rgba($color: #000000, $alpha: 0.7);
    }
}

.contact__design {
    font-size: 1.2rem;
}

.contact__designer {
    text-decoration: underline;
}
