.app_wrapper {
    background-color: #f5f5fa;
    overflow: hidden;
}

.content {
    margin-top: 40px;
}

.content__advertise {
    margin-top: 20px;
}

.content__products {
    margin-top: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--white);
}
